The following script was written in Google Colab to analyze the FracFocus dataset. No predictive modeling was done, only analysis for gaining insights on the data.  

The FracFocus registry can be found at the following link: https://fracfocus.org/data-download

The PowerBI Dashboard for this project can be found at: https://app.powerbi.com/groups/me/reports/09958173-0ca6-456b-a628-530bc31def56/ReportSection **Requires a PowerBI account**

In [ ]:
## Library Import

import pandas as pd                # DataFrames
pd.options.mode.chained_assignment = None  # default='warn', turn off warning errors when writing pandas dataframes over original dataframe.
import seaborn as sns              # Data Visualization

In [ ]:
## Installling PyDrive onto Google Colab machine, PyDrive is what links the Python script to Google Drive. This will only work if storing the data on Google Drive.

!pip install -U -q PyDrive
 
from pydrive.auth import GoogleAuth  
from pydrive.drive import GoogleDrive 
from google.colab import auth 
from oauth2client.client import GoogleCredentials

In [ ]:
# Authenticate and create the PyDrive client. 
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = 'https://drive.google.com/file/d/RESTOFLINKHERE' ## Google Drive file location -- shared link. Deleted address for security.

# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('fracfocus.csv') 
 
dataset = pd.read_csv('fracfocus.csv', low_memory=False)

In [ ]:
dataset ## Displays data frame

,UploadKey,JobStartDate,JobEndDate,APINumber,StateNumber,CountyNumber,OperatorName,WellName,Latitude,Longitude,...,IngredientKey,IngredientName,CASNumber,PercentHighAdditive,PercentHFJob,IngredientComment,IngredientMSDS,MassIngredient,ClaimantCompany,DisclosureKey
0,448c1dab-c7fd-4e07-9d6f-e3b1cf64b708,5/1/1955 12:00:00 AM,5/1/1955 12:00:00 AM,42317372620000,42,317,Pioneer Natural Resources,Rogers 42 #5,32.283431,-101.906575,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,448c1dab-c7fd-4e07-9d6f-e3b1cf64b708,5/1/1955 12:00:00 AM,5/1/1955 12:00:00 AM,42317372620000,42,317,Pioneer Natural Resources,Rogers 42 #5,32.283431,-101.906575,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,f66add2e-8ea8-4843-9388-24725b5d37c1,5/19/1982 12:00:00 AM,5/19/1982 12:00:00 AM,49009219470000,49,9,"Chesapeake Operating, Inc.",WILLIAM VALENTINE 1,42.972810,-105.953840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f66add2e-8ea8-4843-9388-24725b5d37c1,5/19/1982 12:00:00 AM,5/19/1982 12:00:00 AM,49009219470000,49,9,"Chesapeake Operating, Inc.",WILLIAM VALENTINE 1,42.972810,-105.953840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95f0904c-2556-4912-9f5a-34913ba57625,2/7/1995 12:00:00 AM,2/7/1995 12:00:00 AM,49009228850000,49,9,"Chesapeake Operating, Inc.",LIZARD HEAD 1-8H RE,42.851470,-105.411510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,6eab8079-fd40-410a-82c7-db63512fd112,4/23/2013 12:00:00 AM,4/23/2013 12:00:00 AM,42135423210000,42,135,Occidental Oil and Gas,GLDU 610,31.980544,-102.663464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249996,a3591463-a87d-4027-a42a-c864b84e9c58,4/23/2013 12:00:00 AM,4/23/2013 12:00:00 AM,42173354190000,42,173,Apache Corporation,Walker Farms 14 #13,31.842000,-101.494000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249997,a3591463-a87d-4027-a42a-c864b84e9c58,4/23/2013 12:00:00 AM,4/23/2013 12:00:00 AM,42173354190000,42,173,Apache Corporation,Walker Farms 14 #13,31.842000,-101.494000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249998,ac7f1ab8-a8f6-43b0-9967-41046cf099e3,4/23/2013 12:00:00 AM,4/23/2013 12:00:00 AM,42173356170000,42,173,"CrownQuest Operating, LLC",Berry A #201,32.007550,-101.714410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249999,ac7f1ab8-a8f6-43b0-9967-41046cf099e3,4/23/2013 12:00:00 AM,4/23/2013 12:00:00 AM,42173356170000,42,173,"CrownQuest Operating, LLC",Berry A #201,32.007550,-101.714410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Showing missing data and datatypes.
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   UploadKey                250000 non-null  object
 1   JobStartDate             250000 non-null  object
 2   JobEndDate               250000 non-null  object
 3   APINumber                250000 non-null  int64
 4   StateNumber              250000 non-null  int64
 5   CountyNumber             250000 non-null  int64
 6   OperatorName             250000 non-null  object
 7   WellName                 250000 non-null  object
 8   Latitude                 250000 non-null  float64
 9   Longitude                250000 non-null  float64
 10  Projection               250000 non-null  object
 11  TVD                      189726 non-null  float64
 12  TotalBaseWaterVolume     189682 non-null  float64
 13  TotalBaseNonWaterVolume  121835 non-null  float64
 14  StateName                249996 non-null  object
 15  CountyName               249992 non-null  object
 16  FFVersion                250000 non-null  int64
 17  FederalWell              250000 non-null  bool
 18  IndianWell               250000 non-null  bool
 19  Source                   0 non-null       float64
 20  DTMOD                    0 non-null       float64
 21  PurposeKey               163314 non-null  object
 22  TradeName                134223 non-null  object
 23  Supplier                 135607 non-null  object
 24  Purpose                  158941 non-null  object
 25  SystemApproach           0 non-null       float64
 26  IsWater                  0 non-null       float64
 27  PurposePercentHFJob      0 non-null       float64
 28  PurposeIngredientMSDS    0 non-null       float64
 29  IngredientKey            163694 non-null  object
 30  IngredientName           163625 non-null  object
 31  CASNumber                160121 non-null  object
 32  PercentHighAdditive      162272 non-null  float64
 33  PercentHFJob             162153 non-null  float64
 34  IngredientComment        20189 non-null   object
 35  IngredientMSDS           163694 non-null  object
 36  MassIngredient           160463 non-null  float64
 37  ClaimantCompany          78 non-null      object
 38  DisclosureKey            163694 non-null  object
dtypes: bool(2), float64(14), int64(4), object(19)
memory usage: 71.0+ MB

In [ ]:
total = dataset.isnull().sum().sort_values(ascending=False)
percent = (dataset.isnull().sum()/dataset.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(30)

                          Total   Percent
Source                   250000  1.000000
DTMOD                    250000  1.000000
PurposeIngredientMSDS    250000  1.000000
PurposePercentHFJob      250000  1.000000
IsWater                  250000  1.000000
SystemApproach           250000  1.000000
ClaimantCompany          249922  0.999688
IngredientComment        229811  0.919244
TotalBaseNonWaterVolume  128165  0.512660
TradeName                115777  0.463108
Supplier                 114393  0.457572
Purpose                   91059  0.364236
CASNumber                 89879  0.359516
MassIngredient            89537  0.358148
PercentHFJob              87847  0.351388
PercentHighAdditive       87728  0.350912
PurposeKey                86686  0.346744
IngredientName            86375  0.345500
IngredientMSDS            86306  0.345224
IngredientKey             86306  0.345224
DisclosureKey             86306  0.345224
TotalBaseWaterVolume      60318  0.241272
TVD                       60274  0.241096
CountyName                    8  0.000032
StateName                     4  0.000016
JobStartDate                  0  0.000000
WellName                      0  0.000000
JobEndDate                    0  0.000000
APINumber                     0  0.000000
StateNumber                   0  0.000000

Immediately we see that a few features (attributes) have 0 non-null values (a completely empty column). Features that have no data are essentially useless to analysis, therefore these features should be cut from the data. These features are 'Source', 'DTMOD', 'SystemApproach', 'IsWater', 'PurposePercentHFJob', 'PurposeIngredientMSDS'. We also see that ClaimantCompany only has 78 data values, missing 92% of its data. A few of these other features are missing quite a bit of data as well, though I don't want to remove too many features.

In [ ]:
dataset = dataset.drop(columns=['UploadKey','IngredientKey','CASNumber','DisclosureKey','Source','DTMOD','SystemApproach','IsWater','PurposePercentHFJob','PurposeIngredientMSDS','ClaimantCompany'])

In [ ]:
### Looking into project time:
import datetime ## For date calculations

dataset['JobStartDate'] = pd.to_datetime(dataset['JobStartDate']) 
dataset['JobEndDate'] = pd.to_datetime(dataset['JobEndDate']) ## Some jobs have same day start and end, assuming the job took less than 1 day.

In [ ]:
dataset['JobTotalTime'] = dataset['JobEndDate'] - dataset['JobStartDate'] ## 0 days are jobs that took less than 1 day.

In [ ]:
dataset['JobTotalTime'].describe() ## Average time to finish a project is 3 days. The max time it took was 618 days.

count                        250000
mean      3 days 21:06:30.428223999
std      23 days 07:41:53.044638010
min                 0 days 00:00:00
25%                 0 days 00:00:00
50%                 0 days 00:00:00
75%                 3 days 00:00:00
max               618 days 00:00:00
Name: JobTotalTime, dtype: object

In [ ]:
dataset.loc[dataset['JobTotalTime']=='618 days 00:00:00'] ## Finding the instances of the maximum project time.

,JobStartDate,JobEndDate,APINumber,StateNumber,CountyNumber,OperatorName,WellName,Latitude,Longitude,Projection,...,TradeName,Supplier,Purpose,IngredientName,PercentHighAdditive,PercentHFJob,IngredientComment,IngredientMSDS,MassIngredient,JobTotalTime
153478,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,BF-7L,Baker Hughes,Buffer,Potassium Hydroxide,1.00,0.001751,SmartCare Product,True,23.9232,618 days
153479,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,BF-7L,Baker Hughes,Buffer,Water,60.00,0.105035,SmartCare Product,True,1435.3920,618 days
153480,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,BF-7L,Baker Hughes,Buffer,Potassium Carbonate,60.00,0.162284,SmartCare Product,True,2217.7456,618 days
153481,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,"Super LC, 20/40",Baker Hughes,Proppant,Hexamethylenetetramine,0.01,0.001685,NaN,True,23.0300,618 days
153482,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,"Super LC, 20/40",Baker Hughes,Proppant,P/F Resin,5.00,0.842614,NaN,True,11515.0000,618 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153536,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,"Super DC, 20/40",Baker Hughes,Proppant,Hexamethylenetetramine,0.01,0.002893,NaN,True,39.5420,618 days
153537,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,"Super DC, 20/40",Baker Hughes,Proppant,P/F Resin,5.00,1.446749,NaN,True,19771.0000,618 days
153538,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,"Super DC, 20/40",Baker Hughes,Proppant,Silicon Dioxide (Silica Sand),97.00,28.066938,NaN,True,383557.4000,618 days
153539,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,FSA-1,Baker Hughes,Clay Control,Ethanol,5.00,0.006343,NaN,True,86.6775,618 days
153540,2011-05-17,2013-01-24,4111220820000,4,111,Aera Energy LLC,Taylor 836,34.31222,-119.31661,NAD27,...,Water,Operator,Carrier,Water,100.00,50.276430,NaN,True,687068.0712,618 days

In [ ]:
longjobtime = dataset.loc[(dataset['OperatorName']=='Aera Energy LLC') & (dataset['JobTotalTime']=='618 days') & (dataset['WellName']=='Taylor 836')] ## Finding the instances for company Aera Energy LLC on a specific well to see what kind of resources were used in the longest project length.

In [ ]:
longjobtime.describe()

,APINumber,StateNumber,CountyNumber,Latitude,Longitude,TVD,TotalBaseWaterVolume,TotalBaseNonWaterVolume,FFVersion,PercentHighAdditive,PercentHFJob,MassIngredient,JobTotalTime
count,6.300000e+01,63.0,63.0,63.00000,6.300000e+01,63.0,63.0,63.0,63.0,63.000000,63.000000,63.000000,63
mean,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,31.841587,1.587302,21691.759875,618 days 00:00:00
std,0.000000e+00,0.0,0.0,0.00000,8.595000e-14,0.0,0.0,0.0,0.0,36.232479,7.435216,101608.245683,0 days 00:00:00
min,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,0.000000,0.000000,0.000000,618 days 00:00:00
25%,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,1.000000,0.001718,23.476600,618 days 00:00:00
50%,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,10.000000,0.012147,166.000000,618 days 00:00:00
75%,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,60.000000,0.078578,1073.825250,618 days 00:00:00
max,4.111221e+12,4.0,111.0,34.31222,-1.193166e+02,5800.0,82404.0,0.0,2.0,100.000000,50.276430,687068.071200,618 days 00:00:00

Let's see how the mean job time looks.

In [ ]:
meanjobtime = dataset.loc[(dataset['OperatorName']=='Anadarko Petroleum Corporation') & (dataset['JobTotalTime']=='3 days') & (dataset['WellName']=='NBU 922-31G2AS')] ## Company and specific well for the average project length.

Picking a company that finished a project in 3 days, along with the wellname to isolate one project.

In [ ]:
meanjobtime.describe() ## Comparing

,APINumber,StateNumber,CountyNumber,Latitude,Longitude,TVD,TotalBaseWaterVolume,TotalBaseNonWaterVolume,FFVersion,PercentHighAdditive,PercentHFJob,MassIngredient,JobTotalTime
count,1.300000e+01,13.0,13.0,13.000000,1.300000e+01,13.0,13.0,13.0,13.0,13.000000,13.000000,13.0,13
mean,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,58.230769,7.641288,1.0,3 days 00:00:00
std,0.000000e+00,0.0,0.0,0.000000,1.479113e-14,0.0,0.0,0.0,0.0,40.363254,24.561026,0.0,0 days 00:00:00
min,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,5.000000,0.000284,1.0,3 days 00:00:00
25%,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,20.000000,0.006247,1.0,3 days 00:00:00
50%,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,70.000000,0.034104,1.0,3 days 00:00:00
75%,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,100.000000,0.112635,1.0,3 days 00:00:00
max,4.304751e+13,43.0,47.0,39.995336,-1.094784e+02,9483.0,446301.0,0.0,2.0,100.000000,88.885917,1.0,3 days 00:00:00

In [ ]:
dataset.loc[dataset['JobTotalTime']=='3 days']

,JobStartDate,JobEndDate,APINumber,StateNumber,CountyNumber,OperatorName,WellName,Latitude,Longitude,Projection,...,TradeName,Supplier,Purpose,IngredientName,PercentHighAdditive,PercentHFJob,IngredientComment,IngredientMSDS,MassIngredient,JobTotalTime
1311,2011-01-12,2011-01-15,43047510950000,43,47,Anadarko Petroleum Corporation,NBU 922-31G2AS,39.995336,-109.478422,NAD83,...,Acid Inhibitor 3 (AI-3) DB,SWS,Acid Corrosion Inhibitor,Alcohol Blend,20.0,0.000284,NaN,True,1.0000,3 days
1312,2011-01-12,2011-01-15,43047510950000,43,47,Anadarko Petroleum Corporation,NBU 922-31G2AS,39.995336,-109.478422,NAD83,...,Clay Treat LT,SWS,Clay Control Additives,Proprietary,80.0,0.067995,NaN,True,1.0000,3 days
1313,2011-01-12,2011-01-15,43047510950000,43,47,Anadarko Petroleum Corporation,NBU 922-31G2AS,39.995336,-109.478422,NAD83,...,Super 100NE,SWS,Surfactant &amp; Foamer,Glycol Ethers,7.0,0.006247,NaN,True,1.0000,3 days
1314,2011-01-12,2011-01-15,43047510950000,43,47,Anadarko Petroleum Corporation,NBU 922-31G2AS,39.995336,-109.478422,NAD83,...,Super 100NE,SWS,Surfactant &amp; Foamer,Isopropyl Alcohol,30.0,0.026774,NaN,True,1.0000,3 days
1315,2011-01-12,2011-01-15,43047510950000,43,47,Anadarko Petroleum Corporation,NBU 922-31G2AS,39.995336,-109.478422,NAD83,...,WFR-5W,SWS,Friction Reducer,Ethoxylated alcohol blend,5.0,0.002436,NaN,True,1.0000,3 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249175,2013-04-20,2013-04-23,17031260040000,17,31,"EXCO Resources, Inc.",Sattler 34 No. 1-Alt,32.251694,-93.695003,NAD27,...,NaN,NaN,Other Chemicals,Ethoxylated Alcohol,0.0,0.001187,NaN,False,356.3349,3 days
249176,2013-04-20,2013-04-23,17031260040000,17,31,"EXCO Resources, Inc.",Sattler 34 No. 1-Alt,32.251694,-93.695003,NAD27,...,NaN,NaN,Other Chemicals,Sorbitan Monooleate,0.0,0.002966,NaN,False,890.8371,3 days
249177,2013-04-20,2013-04-23,17031260040000,17,31,"EXCO Resources, Inc.",Sattler 34 No. 1-Alt,32.251694,-93.695003,NAD27,...,NaN,NaN,Other Chemicals,Salt,0.0,0.002966,NaN,False,890.8371,3 days
249178,2013-04-20,2013-04-23,17031260040000,17,31,"EXCO Resources, Inc.",Sattler 34 No. 1-Alt,32.251694,-93.695003,NAD27,...,NaN,NaN,Other Chemicals,Poly (acrylamide-co-acrylic acid),0.0,0.017798,NaN,False,5345.0228,3 days
249179,2013-04-20,2013-04-23,17031260040000,17,31,"EXCO Resources, Inc.",Sattler 34 No. 1-Alt,32.251694,-93.695003,NAD27,...,NaN,NaN,Other Chemicals,Water,0.0,0.035144,NaN,False,10553.8833,3 days

In [ ]:
dataset['OperatorName'].describe() ## Out of 554 companies, Chesapeake Operating, Inc was the most prominent.

count                         250000
unique                           554
top       Chesapeake Operating, Inc.
freq                           19032
Name: OperatorName, dtype: object

In [ ]:
data_operatorlocation = [dataset['OperatorName'], dataset['StateName']] ## Creating a new dataframe from just OperatorName and StateNumber.
headers = ["OperatorName", "StateName"]
operator_location = pd.concat(data_operatorlocation, axis=1, keys=headers)

In [ ]:
chesapeake_location = operator_location.loc[(operator_location['OperatorName']=='Chesapeake Operating, Inc.')]

In [ ]:
chesapeake_location['StateName'].str.lower().value_counts().idxmax() ## Most common location Chesapeake Operating worked was in Texas.

'texas'

In [ ]:
dataset['IngredientName'].str.lower().value_counts().idxmax() ## Water is the most common ingredient used in fracturing.

'water'